@mixin borderRadius($val)
{
  border-radius: $val;
  -moz-border-radius: $val;
  -webkit-border-radius: $val;
}

@mixin boxShadow($val)
{
  box-shadow: $val;
  -moz-box-shadow: $val;
  -o-box-shadow: $val;
  -webkit-box-shadow: $val;
}

@mixin userSelect($val)
{
  user-select: $val;
  -moz-user-select: $val;
  -ms-user-select: $val;
  -webkit-user-select: $val;
}