<!doctype html>
<!--suppress HtmlFormInputWithoutLabel -->
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>

    <link rel="stylesheet" href="style.css">
</head>
<body ng-app="calcApp" ng-controller="calcCtrl" ng-keypress="keyPressed($event)" ng-keyup="backspaceClear($event)">

<section class="calculator-body">
    <header class="calculator-header">
        <h1>Calculator</h1>
        <h3><a href="http://voreny.bitbucket.org">Voreny</a></h3>
    </header>

    <div class="calculator-display">
        <span class="calculator-display-input">
            {{calculatorDisplay}}
        </span>
    </div>

    <div class="calculator-controls">
        <div class="calculator-controls-column">
            <span class="calculator-controls-button control-button-red" ng-click="clearAll()">AC</span>
            <span class="calculator-controls-button" ng-click="insertDigit(7)">7</span>
            <span class="calculator-controls-button" ng-click="insertDigit(4)">4</span>
            <span class="calculator-controls-button" ng-click="insertDigit(1)">1</span>
            <span class="calculator-controls-button" ng-click="insertDigit(0)">0</span>
        </div>

        <div class="calculator-controls-column">
            <span class="calculator-controls-button control-button-red" ng-click="clearEntry()">CE</span>
            <span class="calculator-controls-button" ng-click="insertDigit(8)">8</span>
            <span class="calculator-controls-button" ng-click="insertDigit(5)">5</span>
            <span class="calculator-controls-button" ng-click="insertDigit(2)">2</span>
            <span class="calculator-controls-button" ng-click="insertDot()">.</span>
        </div>

        <div class="calculator-controls-column">
            <span class="calculator-controls-button" ng-click="doPercentage()">%</span>
            <span class="calculator-controls-button" ng-click="insertDigit(9)">9</span>
            <span class="calculator-controls-button" ng-click="insertDigit(6)">6</span>
            <span class="calculator-controls-button" ng-click="insertDigit(3)">3</span>
            <span class="calculator-controls-button" ng-click="doMath(true)">=</span>
        </div>

        <div class="calculator-controls-column">
            <span class="calculator-controls-button" ng-click="mathOperator(3)">/</span>
            <span class="calculator-controls-button" ng-click="mathOperator(2)">*</span>
            <span class="calculator-controls-button"  ng-click="mathOperator(1)">-</span>
            <span class="calculator-controls-button control-button-big"  ng-click="mathOperator(0)">
                <span class="control-button-big-text">+</span>
            </span>
        </div>
    </div>
</section>

<script src="app.js"></script>
</body>
</html>